.venv/

testing.py

Playlric/.env



Playlric/song_info/__pycache__/

Playlric/song_info/data/cookies.txt

Playlric/song_info/cookies.txt


Playlric/Playlric/__pycache__/

Playlric/song_info/common/__pycache__/

Playlric/song_info/data/__pycache__/